/* Remove default margin and padding */
 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    /* Prevent horizontal scrolling */
    html, body {
      width: 100%;
      height: 100%;
      overflow-x: hidden; /* hides horizontal scrollbar */
      
    }

/* all styles for header and nav bars*/
html {
    font-family: sans-serif;
}

h2 {
    margin-top: 55px;
    margin-bottom: 35px;
} 

.dark-mode{
    background-color: black;
    color: white
}


/* Navigation Style */
nav {
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

nav a:hover{
    background-color: white;
    color: black;
}

nav .home-link {
    margin-right: auto;
}

nav svg{
    color: white;
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    padding: 13px 20px;
    display: none;
}


@media(max-width: 460px){
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: black;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: .75s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: center; 
    }

    .open-sidebar-button, .close-sidebar-button {
        display: block;
    }

    #sidebar-active:checked ~ .links-container{
        right: 0;   
    }
}

/* Main-content*/
.main-content {
    margin: 50px 60px 60px 60px;
}


/*Landing page*/
.landing-page {
    display: flex;
    justify-content: start;
}

.landing-intro {
    margin:auto;
    
}

.bio {
    font-size: 40px;
    font-weight: bold;
}

.bio2{
    font-size: 21px;
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
}

.tech {
    font-family: cursive;
    font-size: larger;
}

.contactMe {
    font-size: large;
    text-align: center;
}

img[src="images/monte4.jpg"] {
    width: 190px;
    height: 300px;
    margin: 0 30px
}


@media(max-width:932px) {
    .landing-page{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .landing-intro p{
        margin-top: 10px;
        font-size: 15px;
    }
    
    
}



/* Project Sections*/

.project-section {
    display: none;
}




/* Inline skills and education section */

.skillEducation-inline{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    
}


/* skill section */

.skills-section {
    margin-right: 20px;
}


/* Experience & Education section*/





/* Contact section*/

.contact-section {
    text-align: start;
}

/* Footer */

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px  0 20px 0
}